In [1]:
import numpy as np #numerical python
import pandas as pd #dataframe library

In [2]:
#     0    1     2     3    4    5    6
X = [0.1, 0.2, 0.12, 0.32, 0.5, 0.7, 0.67]
y = [0, 0, 0, 0, 1, 1, 1]

In [3]:
final_data = pd.DataFrame(data={
    'X' : X,
    "Y" :y
})

In [4]:
final_data

      X  Y
0  0.10  0
1  0.20  0
2  0.12  0
3  0.32  0
4  0.50  1
5  0.70  1
6  0.67  1

In [5]:
final_data['XY'] = final_data['X'] * final_data['Y']
final_data['X2'] = final_data['X'] ** 2

In [6]:
final_data

      X  Y    XY      X2
0  0.10  0  0.00  0.0100
1  0.20  0  0.00  0.0400
2  0.12  0  0.00  0.0144
3  0.32  0  0.00  0.1024
4  0.50  1  0.50  0.2500
5  0.70  1  0.70  0.4900
6  0.67  1  0.67  0.4489

In [7]:
sum_x = final_data['X'].sum()
sum_y = final_data['Y'].sum()
sum_xy = final_data['XY'].sum()
sum_x2 = final_data['X2'].sum()
n = len(final_data)

In [8]:
sum_x, sum_y, sum_xy, sum_x2, n

(2.61, 3, 1.87, 1.3557000000000001, 7)

In [9]:
numerator_m = (n * sum_xy) - (sum_x * sum_y)
denominator_m = (n * sum_x2) - (sum_x) ** 2

In [10]:
m = numerator_m / denominator_m
m

1.9642990514601528

In [11]:
numerator_b = sum_y - (m * sum_x)
denominator_b = n

In [12]:
b = numerator_b / denominator_b
b

-0.3038315034729998

In [13]:
y = [m * x + b for x in final_data['X']]
y

[-0.10740159832698451,
 0.08902830681903079,
 -0.06811561729778148,
 0.32474419299424906,
 0.6783180222570766,
 1.071177832549107,
 1.0122488610053026]

In [14]:
b = [1/(1+np.exp(-ys)) for ys in y] 
b

[0.47317538085844507,
 0.5222423874751203,
 0.4829776767590308,
 0.5804800112222366,
 0.6633631940722396,
 0.7448208424719376,
 0.7334600242653085]

In [15]:
final = [1 if bs>=0.5 else 0 for bs in b]
final

[0, 1, 0, 1, 1, 1, 1]

In [16]:
final_data['Y']

0    0
1    0
2    0
3    0
4    1
5    1
6    1
Name: Y, dtype: int64

In [17]:
correct = 0
for pred, org in zip(final, final_data['Y']):
    if pred == org:
        correct += 1
    else:
        pass

In [18]:
correct / len(final_data)

0.7142857142857143

In [21]:
final_data

      X  Y    XY      X2
0  0.10  0  0.00  0.0100
1  0.20  0  0.00  0.0400
2  0.12  0  0.00  0.0144
3  0.32  0  0.00  0.1024
4  0.50  1  0.50  0.2500
5  0.70  1  0.70  0.4900
6  0.67  1  0.67  0.4489

In [22]:
final_data['Result']=final
final_data

      X  Y    XY      X2  Result
0  0.10  0  0.00  0.0100       0
1  0.20  0  0.00  0.0400       1
2  0.12  0  0.00  0.0144       0
3  0.32  0  0.00  0.1024       1
4  0.50  1  0.50  0.2500       1
5  0.70  1  0.70  0.4900       1
6  0.67  1  0.67  0.4489       1

In [24]:
#another code in accuracy correct
correct=0 #initilizing the correct with 0
values=final_data[['Y','Result']].values
for (key,result) in values:
    if key == result:
        correct+=1
    pass

In [25]:
correct/n

0.7142857142857143

In [26]:
#another code in accuracy correct
correct=0 #initilizing the correct with 0
keys=final_data['Y']
results=final_data['Result']
for (key,result) in zip(keys,results):
    #print(f"key {key},result{result}")
    if key == result:
        print(f"EQUAL key {key},result{result}")
        correct+=1
        print(f'correct{correct}')
    pass

EQUAL key 0,result0
correct1
EQUAL key 0,result0
correct2
EQUAL key 1,result1
correct3
EQUAL key 1,result1
correct4
EQUAL key 1,result1
correct5

In [27]:
correct/n

0.7142857142857143